[Unit]
Description=Artificial Human Interface Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/apps/artificial_human_bot/.venv/bin/python /apps/artificial_human_bot/manage.py
WorkingDirectory=/apps/artificial_human_bot/
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
